In [8]:
import pandas as pd
from sklearn.decomposition import NMF
import glob

In [9]:
files = glob.glob("data/ml-latest-small/*csv")

In [10]:
names = [file.split("/")[-1].split(".csv")[0] for file in files]
pd_dict = {}
for file, name in zip(files, names):
    pd_dict[name] = pd.read_csv(file)

In [11]:
movies = pd_dict["movies"]
ratings = pd_dict["ratings"]

In [12]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [13]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [14]:
movies.set_index("movieId", inplace=True)

In [15]:
ratings.set_index("movieId", inplace=True)

In [16]:
ratings_with_movies = ratings.join(movies)
ratings_with_movies

,userId,rating,timestamp,title,genres
movieId,,,,,
1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,7,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,15,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,17,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...
193581,184,4.0,1537109082,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
193583,184,3.5,1537109545,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
193585,184,3.5,1537109805,Flint (2017),Drama
193587,184,3.5,1537110021,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
193609,331,4.0,1537157606,Andrew Dice Clay: Dice Rules (1991),Comedy

In [36]:
ratings_new = ratings_with_movies[["userId", "rating", "title"]]
ratings_new.index = range(len(ratings_new))

        userId  rating                                      title
0            1     4.0                           Toy Story (1995)
1            5     4.0                           Toy Story (1995)
2            7     4.5                           Toy Story (1995)
3           15     2.5                           Toy Story (1995)
4           17     4.5                           Toy Story (1995)
...        ...     ...                                        ...
100831     184     4.0  Black Butler: Book of the Atlantic (2017)
100832     184     3.5               No Game No Life: Zero (2017)
100833     184     3.5                               Flint (2017)
100834     184     3.5        Bungo Stray Dogs: Dead Apple (2018)
100835     331     4.0        Andrew Dice Clay: Dice Rules (1991)

[100836 rows x 3 columns]

In [37]:
ratings_reshaped = ratings_new.pivot_table(values="rating", columns="title", index="userId", aggfunc="mean")
ratings_reshaped

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [19]:
ratings_reshaped.fillna(ratings_reshaped.mean(), inplace=True)

In [20]:
ratings_reshaped

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,3.863636,2.770833,2.0,4.000000,1.0
2,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,3.863636,2.770833,2.0,3.134615,1.0
3,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,3.863636,2.770833,2.0,3.134615,1.0
4,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,3.863636,2.770833,2.0,3.134615,1.0
5,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,3.863636,2.770833,2.0,3.134615,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,3.863636,2.770833,2.0,3.134615,1.0
607,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,3.863636,2.770833,2.0,3.134615,1.0
608,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,4.500000,3.500000,2.0,3.134615,1.0
609,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.666667,3.285714,...,1.5,4.0625,3.666667,3.0,3.0,3.863636,2.770833,2.0,3.134615,1.0
610,4.0,4.0,3.5,5.0,4.0,1.5,3.176471,3.0,3.500000,3.285714,...,1.5,4.0000,3.500000,3.0,3.0,3.863636,2.000000,1.5,3.134615,1.0

In [21]:
nmf = NMF(n_components=20, max_iter=5000)

In [22]:
nmf.fit(ratings_reshaped)

/home/joseph/anaconda3/envs/recommender_system/lib/python3.10/site-packages/sklearn/decomposition/_nmf.py:289: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(
/home/joseph/anaconda3/envs/recommender_system/lib/python3.10/site-packages/sklearn/decomposition/_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 5000 reached. Increase it to improve convergence.
  warnings.warn(

NMF(max_iter=5000, n_components=20)

In [23]:
Q = nmf.components_
Q

array([[0.95699989, 0.95699989, 0.8373749 , ..., 0.47509288, 0.64176344,
        0.23924997],
       [0.97155652, 0.97155652, 0.85011196, ..., 0.53659609, 1.43733287,
        0.24288913],
       [0.20744647, 0.20744647, 0.18151566, ..., 0.14288045, 0.88564941,
        0.05186162],
       ...,
       [0.42823877, 0.42823877, 0.37470892, ..., 0.22737484, 0.95972556,
        0.10705969],
       [0.05486036, 0.05486036, 0.04800281, ..., 0.02701516, 0.05466354,
        0.01371509],
       [0.26405163, 0.26405163, 0.23104518, ..., 0.12610894, 0.18559094,
        0.06601291]])

In [33]:
Q_df = pd.DataFrame(Q).T

In [35]:
Q_df.index = ratings_reshaped.columns

In [26]:
nmf

NMF(max_iter=5000, n_components=20)

In [27]:
import pickle
!pwd

/home/joseph/spiced_work/materials/recommender_week

In [28]:
pickle.dump(nmf, open("model_with_20_components.sav", "wb"))

In [29]:
# load the model
model = pickle.load(open("model_with_20_components.sav", "rb"))

In [30]:
model

NMF(max_iter=5000, n_components=20)

In [31]:
model.components_

array([[0.95699989, 0.95699989, 0.8373749 , ..., 0.47509288, 0.64176344,
        0.23924997],
       [0.97155652, 0.97155652, 0.85011196, ..., 0.53659609, 1.43733287,
        0.24288913],
       [0.20744647, 0.20744647, 0.18151566, ..., 0.14288045, 0.88564941,
        0.05186162],
       ...,
       [0.42823877, 0.42823877, 0.37470892, ..., 0.22737484, 0.95972556,
        0.10705969],
       [0.05486036, 0.05486036, 0.04800281, ..., 0.02701516, 0.05466354,
        0.01371509],
       [0.26405163, 0.26405163, 0.23104518, ..., 0.12610894, 0.18559094,
        0.06601291]])

array([[0.95699989, 0.95699989, 0.8373749 , ..., 0.47509288, 0.64176344,
        0.23924997],
       [0.97155652, 0.97155652, 0.85011196, ..., 0.53659609, 1.43733287,
        0.24288913],
       [0.20744647, 0.20744647, 0.18151566, ..., 0.14288045, 0.88564941,
        0.05186162],
       ...,
       [0.42823877, 0.42823877, 0.37470892, ..., 0.22737484, 0.95972556,
        0.10705969],
       [0.05486036, 0.05486036, 0.04800281, ..., 0.02701516, 0.05466354,
        0.01371509],
       [0.26405163, 0.26405163, 0.23104518, ..., 0.12610894, 0.18559094,
        0.06601291]])